# Dependencies
node_modules/
dist/

# Environment variables
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# Prisma
prisma/*.db
prisma/migrations/

# TypeScript
*.tsbuildinfo

# OS
.DS_Store 